<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    
    <security-role>
        <role-name>visitor</role-name>
    </security-role>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                thisConstraint
            </web-resource-name>
            <url-pattern>/work.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>visitor</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
</web-app>
